<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola mundo</h1>
   <form action="" method="post">
    <input type="text" name="nombre" value="canisa">
    <input type="text" name="talla" value="M">
    <input type="text" name="referencia" value="C60654">
    <input type="text" name="cantidad" value="5">
    <input type="number" name="precio" value="50000">
    <input type="text" name="descripcion" value="Camisa color azul">
    <input type="submit" value="ENVIAR">
   </form>
</body>
</html>